/* @font-face {
    font-family: "madiha";
    src: url(./Roboto-BlackItalic.ttf);
 } */


/* kisi bhi chez ko transparent banana ka liy hm opacity use karta han jis ki value 0 between 1 jis ko hm is tarha likh ta han (0.1 to 0.9) tak:  */
/* h1{
background-color: rgba(0,255, 32,0.5);
} */

/* start class 7  */
    /* font-family: ; */
/* p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 150px; 
} */

/* fornt face google sa search google fornt */

/* p{
    font-family: "madiha";
     font-size: 150px; 
    } */

    /* sab sa phala hm google p ge ga waha p google fornt search karay ga phir download karay ga phir @front family css ki file ma sab sa top p laga e ga phir usa apni marzi ka name dan ga phir p ma usa target karay ga as it is  */
   